<nav>
    <a class="brand" routerLink="/home">
        <img src="/assets/images/pata2.png" alt="image" class="logo"/>
        <h2>Cerberus Paw</h2>
      </a>
    <ul>
        <div *ngIf="cliente && validarCliente()">
            <li><a [routerLink]="['/animal']">Novo Animal</a></li>
        </div>

        <div *ngIf="cliente && validarCliente()">
            <li><a [routerLink]="['/home']">Home</a></li>
        </div>

        <div *ngIf="funcionario && validarAdministrador()">
            <li><a [routerLink]="['/funcionario']">Novo Fncionário</a></li>
        </div>

        <div *ngIf="(cliente && validarCliente()) || (funcionario && validarFuncionario()) || (funcionario && validarAdministrador())">
            <li><a [routerLink]="['/perfil']">Meu Perfil</a></li>
        </div>
        
        <div *ngIf="(cliente && validarCliente()) || (funcionario && validarFuncionario()) || (funcionario && validarAdministrador())">
            <li><a [routerLink]="['/agendamento']">Agendar</a></li>
        </div>

        <div *ngIf="(cliente && validarCliente()) || (funcionario && validarFuncionario()) || (funcionario && validarAdministrador())">
            <li><a [routerLink]="['/historico']">Histórico</a></li>
        </div>

        <div *ngIf="(funcionario && validarFuncionario()) || (funcionario && validarAdministrador())">
            <li><a [routerLink]="['/tabela-agendamentos']">Tabela de agendamentos</a></li> <!--temporário-->
        </div>

        <div (click)="logout()" *ngIf="(cliente && validarCliente()) || (funcionario && validarFuncionario()) || (funcionario && validarAdministrador())">
            <li><a [routerLink]="['']">Sair</a></li>
        </div>
    </ul>
    
</nav>