


<nav>
    <a class="brand" routerLink="/">
        <img src="/assets/images/pata2.png" alt="image" class="logo"/>
        <h2>Cerberus Paw</h2>
      </a>
    <ul>
        <li><a [routerLink]="['/cliente']">Cliente</a></li>
        <li><a [routerLink]="['/funcionario']">Funcionários</a></li>
        <li><a [routerLink]="['/animal']">Animais</a></li>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/perfil']">Perfil</a></li>
        <li><a [routerLink]="['/agendamento']">Agendamento</a></li>
    </ul>
</nav>