<nav>
    <a class="brand" routerLink="/">
        <img src="/assets/images/pata2.png" alt="image" class="logo"/>
        <h2>Cerberus Paw</h2>
      </a>
    <ul>
        <div *ngIf="cliente && validarCliente()">
            <li><a [routerLink]="['/animal']">Animais</a></li>
        </div>

        <div *ngIf="cliente && validarCliente()">
            <li><a [routerLink]="['/home']">Home</a></li>
        </div>

        <div *ngIf="cliente && !validarCliente()">
            <li><a [routerLink]="['/funcionario']">Funcionários</a></li>
        </div>

        <div *ngIf="cliente && validarCliente()">
            <li><a [routerLink]="['/perfil']">Perfil</a></li>
        </div>
        
        <div *ngIf="funcionario && validarFuncionario()">
            <li><a [routerLink]="['/perfil']">Perfil</a></li>
        </div>

        <div *ngIf="cliente && validarCliente()">
            <li><a [routerLink]="['/agendamento']">Agendamento</a></li>
        </div>

        <div *ngIf="cliente && !validarCliente()">
            <li><a [routerLink]="['/tabela-agendamentos']">Tabela de agendamentos</a></li> <!--temporário-->
        </div>

        <div *ngIf="funcionario && validarFuncionario()">
            <li><a [routerLink]="['/tabela-agendamentos']">Tabela de agendamentos</a></li> <!--temporário-->
        </div>

        <div (click)="logout()" *ngIf="cliente && validarCliente()">
            <li><a [routerLink]="['']">Sair</a></li>
        </div>
    </ul>
    
</nav>