.form-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding-bottom: 10em;
}

.dog-client-form {
    width: 29.5em;
    height: 31em;
    margin-left: 12em;
}