<form>
  <h1>{{ titulo }}</h1>

  <div class="linha">
    <div class="column1">
      <div class="form-group">
        <input
          type="text"
          placeholder="{{ cliente.nome }}"
          formControlName="nome"
          required readonly
        />
        <div class="validation-error">
          <p>O nome é obrigatório.</p>
        </div>
      </div>

      <div class="form-group">
        <input
          type="text"
          placeholder="{{ cliente.cpf }}"
          formControlName="cpf"
          required readonly
        />
        <div class="validation-error">
          <p>O CPF é obrigatório.</p>
        </div>
      </div>

      <div class="form-group">
        <input type="text" placeholder="{{ cliente.dataNascimento }}" formControlName="Data" required readonly />
        <div id="date" class="validation-error">
          <p>A data é obrigatória.</p>
        </div>
      </div>
    </div>

    <div class="column2">
      <div class="form-group">
        <input
          type="text"
          placeholder="{{ cliente.telefone }}"
          formControlName="telefone"
          required readonly
        />
        <div class="validation-error">
          <p>O telefone é obrigatório.</p>
        </div>
      </div>

      <div class="form-group">
        <input
          type="text"
          placeholder="{{ cliente.email }}"
          formControlName="email"
          required readonly
        />
        <div class="validation-error">
          <p>O E-mail é obrigatório.</p>
        </div>
      </div>

      <div class="form-group">
        <input
          type="password"
          placeholder="{{ cliente.senha }}"
          formControlName="senha"
          required readonly
        />
        <div class="validation-error">
          <p>A senha é obrigatória.</p>
        </div>
      </div>
    </div>
  </div>

  <input type="submit" value="{{ btnText }}" />
</form>
