form {
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

/* Pata Azul */
.pata2 {
  position: absolute;
  left: 80.01%;
  right: 10.89%;
  top: 15%;
  bottom: 75.51%;
}

.pata3 {
  position: absolute;
  left: 7.98%;
  right: 82.94%;
  top: 53.47%;
  bottom: 30%;
}

