<!DOCTYPE HTML>
<html>
    
<head>
<style type="text/css">
body {
    overflow-y: hidden;
	margin: 0 auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}

/* Criação da caixa amarela da home */
#box1 {
	width:1389px;
	height:600px;
	margin:10px;
	padding:10px;
}

#box1  {
	background:rgb(250, 233, 196);
}

h2, p  {
	padding:5px;
}

#box1 p{
	white-space:pre;
	font-size:smaller;
	font-family:monospace;
}
/* Inserção dos textos, imagens e botões */
</style>
</head>
<body>
<div id="box1">
	<h2>O melhor <br> cuidado <br> para seu <br> <div id = "t1"> melhor amigo</div></h2>
    <h3>está esperando o que para fazer seu pet mais <br> feliz? Aqui você encontra o cuidado que seu <br> pet merece.</h3>
    <input type="submit" value="Agendar serviço" id="agendar" />
    <img src="/assets/images/corgi.png" alt="image" class="dog-home"/>
</div>
</body>

</html>