#box1 {
  background: rgb(248, 216, 146);
  border-radius: 25px;
}

h2 {
  color: #194389;
  font-size: 60px;
  margin: 30px;
}
h3 {
  font-style: italic;
  left: 34px;
  position: relative;
  bottom: 12px;
}
#t1 {
  color: #e6a910ef;
}

/* Botão de agendamento */
#agendar {
  background-color: #4285dd;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Poppins;
  border-radius: 30px;
  left: 35px;
  margin: 15px;
  position: absolute;
}

/* Imagem */
.dog-home {
  width: 35em;
  height: 36em;
  margin-left: 540px;
  bottom: 380px;
  position: relative;
}
