<h2>Visualizar Dados dos Agendamentos</h2>

<div *ngFor="let animal of cliente.animais; let i = index">
  <div *ngFor="let agendamento of cliente.animais[i].agendamentos; let j = index">
  <form>
    <div class="linha">
      <div class="column1">
        <div class="form-group">
          <label class="labels">Data e Hora de Início: </label>
          <input
            type="input"
            value="{{ cliente.animais[i].agendamentos[j].dataHoraStart | date:'dd/MM/yyyy --- HH:mm'}}"
            readonly
          />
        </div>
      </div>

      <div class="column2">
        <div class="form-group">
          <label class="labels">Data e Hora do Fim: </label>
          <input type="input" value="{{ cliente.animais[i].agendamentos[j].dataHoraEnd | date:'dd/MM/yyyy --- HH:mm'}}" readonly />
        </div>
      </div>

      <div class="column3">
        <div class="form-group">
          <label class="labels">Pet que vai vir: </label>
          <input type="input" value="{{ cliente.animais[i].nome }}" readonly />
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="labels">Serviços: </label>
      <input type="input" value="{{ cliente.animais[i].agendamentos[j].servicos }}" readonly />
    </div>

    

    <div class="observacao">
      <label class="labels">Observações: </label>
      <textarea
        class="obs"
        value="{{ cliente.animais[i].agendamentos[j].observacoes }}"
        rows="3"
        cols="120%"
        readonly
      ></textarea>
    </div>

    <div class="form-group">
      <label class="labels">Funcionário: </label>
      <input type="input" formControlName="funcionario" [value]="cliente.animais[i].agendamentos[j].funcionarioNome" readonly />
    </div>

    <div class="botoes">
      <input class="botao2" type="submit" value="Excluir" (click)="excluirAgendamento( cliente.animais[i].agendamentos[j].id )" />
    </div>
  </form>
  </div>
</div>
